

    <h4 class="header row ">
<p class="col-sm www"> Конвертер валют </p>
<p class="col-sm qqq">{{dateTime | date: 'd. MM. y HH:mm:ss '}}</p>
</h4>



    <div class="container-course-item card card-body"  >
        <div class="row">

            <div class="col-sm"  data-value="current">
                <h2 class="www">Купівля / продаж USD: </h2>
                <hr>
                <h2 class="www">Купівля / продаж EUR: </h2>
            </div>

            <div class="current col-sm ">

                <h2 class="qqq">{{usdBuy}} грн / {{usdSale}} грн</h2>
                <hr>
                <h2 class="qqq">{{eurBuy}} грн / {{eurSale}} грн</h2>
            </div>
        </div>
    </div>


