
.container-course-item {
    background-color: rgb(251, 251, 214);
}
.qqq {
    text-align: right;
    padding-right: 40px;
}

.www {
    padding-left: 40px;
}
.header {

    padding-top: 30px;
}
.current {
    font-weight: 700;
}
